body{
    font-family: "Open Sans", sans-serif; 
    margin:0px 0px 0px 0px;
}
#content {
	padding: 0 !important;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0; 
    background-color: #a4452c; 
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }
  
  nav li {
    display: inline;  
    margin-right: 100px; 
  }
  
  nav a {
    color: white;  
    text-decoration: none; 
  }

  a img{
    margin: 10px;
  }

header{
    background-image: url(../img/bg-hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0px 3px 6px black;
    text-align: right;
    color: white;
    margin: 0px 0px 0px;
}

header h1{
    font-size: 60px;
    margin-top: 0px;
}

header h3{
    font-size: 40px;
    font-weight: lighter;
}


/* caja de la proxima charla */
#Proxima-Charla{
    background: #a4452c;
    padding: 100px;
    color: white;
}

#Proxima-Charla .wrapper{
    width: 800px;
    margin: auto;
}
.wrapper img{
    width: 25%;
}

.wrapper .texto{
    width: 70%;
    margin-left: 4%;
}

.wrapper img, .texto{
    display: inline-block;
    vertical-align: middle;
}

footer{
    text-align: center;
    background: #000f08;
    color: white;
    padding: 20px;
}

i{
    font-size: 30px;
}